swagger: '2.0'
info:
  description: | 
   This is our group KH-067-QA-02 demo project for testing API [prom.ua](https://rabota.ua).
   
   For this demo project you need to use client key `bearer-token` to test the API.
  version: 1.3.0
  title: Prom.ua Web OpenAPI
schemes:
  - https
host: my.prom.ua
basePath: /api/v1
# produces:
#   - application/json
tags:
  - name: Clients
    description: (client operations)
  - name: Delivery
    description: (operations with deliveries)
  - name: Groups
    description: (operations with groups)
  - name: Messages
    description: (operations with messages)
  - name: Notifications
    description: (operations with notifications)
  - name: Orders
    description: (order operations)
  - name: PaymentOption
    description: (operations with payment options)
  - name: Products
    description: (operations with products)
paths:
  /clients/list:
    get:
      summary: A list of company's clients
      description: |
        A list of the company's clients with detailed information and contacts.
      parameters:
        - name: limit
          in: query
          description: Limiting the number of clients in the answer
          required: false
          type: integer
          format: int64
        - name: last_id
          in: query
          description: Will limit the selection of clients with identifiers not higher than specified
          required: false
          type: integer
          format: int64
        - name: search_term
          in: query
          description: A search request (for example, it may contain a name, phone number or email)
          required: false
          type: string
      tags:
        - Clients
      responses:
        '200':
          description: Clients list
          schema:
            type: object
            properties:
              clients:
                type: array
                items:
                  $ref: '#/definitions/Client'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /clients/{id}:
    get:
      summary: Information about client
      description: |
        Information about the client with the specified ID
      parameters:
        - name: id
          in: path
          description: The unique identifier for the order
          required: true
          type: integer
          format: int64
      tags:
        - Clients
      responses:
        '200':
          description: Information about client
          schema:
            type: object
            properties:
              client:
                $ref: '#/definitions/Client'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /delivery/save_declaration_id:
    post:
      summary: Saving the declaration number
      description: Saving the declaration number generated not through the prom.ua account
      parameters:
        - name: body
          in: body
          description: Request parameters
          required: true
          schema:
            $ref: '#/definitions/DeliverySaveCreatedDeclarationIdParameters'
      tags:
        - Delivery
      responses:
        '200':
          description: Result of successful saving of declaration number
          schema:
            type: object
            properties:
              status:
                description: Declaration number retention status
                type: string
                enum:
                  - success
                example: success
        default:
          description: Result of unsuccessful declaration number saving
          schema:
            type: object
            properties:
              status:
                description: Declaration number retention status
                type: string
                enum:
                  - error
                example: error
              message:
                description: Text of error saving declaration number
                type: string
                example: Validation error
              errors:
                description: Validation errors. Errors are in the response for validation errors
                type: object
                example:
                  declaration_id: Declaration number must consist of numbers
  /groups/list:
    get:
      summary: List of company groups
      description: |
        List of company groups
      parameters:
        - name: limit
          in: query
          description: Limiting the number of groups in response
          required: false
          type: integer
          format: int64
        - name: last_id
          in: query
          description: Restrict the selection of groups with ID not higher than the specified one
          required: false
          type: integer
          format: int64
      tags:
        - Groups
      responses:
        '200':
          description: List of groups
          schema:
            type: object
            properties:
              groups:
                type: array
                items:
                  $ref: '#/definitions/Group'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /groups/{id}:
    get:
      summary: Information about group
      description: |
       Information about group by ID.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int64
      tags:
        - Groups
      responses:
        '200':
          description: information about group
          schema:
            type: object
            properties:
              order:
                $ref: '#/definitions/Group'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/Error'
  /groups/translation/{id}:
    get:
      summary: Translation of the group
      description: Information about translation of the group
      parameters:
        - name: id
          in: path
          description: Group id
          required: true
          type: string
        - name: lang
          in: query
          description: Target language
          required: false
          type: string
      tags:
        - Groups
      responses:
        '200':
          description: Successful operation
          schema:
            # type: application/json
            # properties:
            #   orders:
            #     type: object
            #     items: 
                  $ref: '#/definitions/GroupTranslation'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/GroupTranslationError'
  /groups/delete/{id}:
    delete:
      summary: Deleting group
      description: |
        Deleting group by ID.
      parameters:
        - name: id
          in: path
          description: Unknown.
          required: true
          type: integer
          format: int64
      tags:
        - Groups
      responses:
        '200':
          description: Successfully deleted
          schema:
            $ref: '#/definitions/Group'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/Error'
  /messages/list:
    get:
      summary: List of company messages
      description: |
        List of company messages with full content and customer information
      parameters:
        - name: status
          in: query
          description: Message status
          required: false
          type: string
        - name: date_from
          in: query
          description: Query messages created after the specified date. Example - "2015-04-28T12:50:34".
          required: false
          type: string
        - name: date_to
          in: query
          description: Query messages created before the specified date. Example - "2015-04-28T12:50:34".
          required: false
          type: string
        - name: limit
          in: query
          description: Limiting the number of messages in a response
          required: false
          type: integer
          format: int64
        - name: last_id
          in: query
          description: Limit the selection of messages with IDs not higher than the specified one
          required: false
          type: integer
          format: int64
      tags:
        - Messages
      responses:
        '200':
          description: list of messages
          schema:
            type: object
            properties:
              messages:
                type: array
                items:
                  $ref: '#/definitions/Message'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /messages/{id}:
    get:
      summary: Information about message
      description: |
        Information about message with specified identifier
      parameters:
        - name: id
          in: path
          description: Unique message identifier
          required: true
          type: integer
          format: int64
      tags:
        - Messages
      responses:
        '200':
          description: Information about message
          schema:
            type: object
            properties:
              message:
                $ref: '#/definitions/Message'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /messages/set_status:
    post:
      summary: Change the status of the message(s)
      description: |
        Changing the status of messages according to the list of unique identifiers
      parameters:
        - name: body
          in: body
          description: Request parameters
          required: true
          schema:
            $ref: '#/definitions/SetMessageStatus'
      tags:
        - Messages
      responses:
        '200':
          description: List of IDs of processed messages
          schema:
            type: object
            properties:
              processed_ids:
                type: array
                items:
                  type: integer
                  format: int64
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /messages/reply:
    post:
      summary: Message reply
      description: |
        Sending a response to a client message with specified identifier
      parameters:
        - name: body
          in: body
          description: Request parameters
          schema:
            $ref: '#/definitions/MessageReply'
      tags:
        - Messages
      responses:
        '200':
          description: ID of the message to which was sent the reply
          schema:
            type: object
            properties:
              processed_id:
                type: integer
                format: int64
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /notifications/get_by_type:
    post:
      summary: get notifications by type
      description: |
        Receive the list of Company's notifications by type.
      parameters:
        - name: body
          in: body
          description: Request parameters.
          schema:
            $ref: '#/definitions/Notifications'
      tags:
        - Notifications
      responses:
        '200':
          description: The list of notificationIds got by type.
          schema:
            type: object
            properties:
              processed_ids:
                type: array
                items:
                  type: integer
                  format: int64
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /orders/list:
    get:
      summary: List of the orders
      description: |
        A list of company orders with detailed information about the client, address and delivery method, added products and status.
      parameters:
        - name: status
          in: query
          description: Order status.
          required: false
          type: string
        - name: date_from
          in: query
          description: Query for orders created after the specified date. Example - "2015-04-28T12:50:34".
          required: false
          type: string
        - name: date_to
          in: query
          description: Query for orders created before the specified date. Example - "2015-04-28T12:50:34".
          required: false
          type: string
        - name: limit
          in: query
          description: Limiting quantity of orders in the response.
          required: false
          type: integer
          format: int64
        - name: last_id
          in: query
          description: Limit the selection of orders with IDs no higher than the set ones.
          required: false
          type: integer
          format: int64
      tags:
        - Orders
      responses:
        '200':
          description: List of the orders
          schema:
            type: object
            properties:
              orders:
                type: array
                items:
                  $ref: '#/definitions/Order'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /orders/{id}:
    get:
      summary: Information about order
      description: |
        Information about the order with the specified ID.
      parameters:
        - name: id
          in: path
          description: The unique identifier for the order.
          required: true
          type: integer
          format: int64
      tags:
        - Orders
      responses:
        '200':
          description: Information about order
          schema:
            type: object
            properties:
              order:
                $ref: '#/definitions/Order'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /orders/set_status:
    post:
      summary: Change of official order(s).
      description: |
        Changing the status of orders according to the list of unique identifiers.
      parameters:
        - name: body
          in: body
          description: Request parameters.
          schema:
            $ref: '#/definitions/SetOrderStatus'
      tags:
        - Orders
      responses:
        '200':
          description: List of IDs of processed orders.
          schema:
            type: object
            properties:
              processed_ids:
                type: array
                items:
                  type: integer
                  format: int64
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /orders/refund:
    post:
      summary: Buyer refund
      description: |
        Changing the status of orders according to the list of unique identifiers
      parameters:
        - name: body
          in: body
          description: Request parameters
          schema:
            $ref: '#/definitions/PaymentRefund'
      tags:
        - Orders
      responses:
        '200':
          description: List of identifiers of processed orders
          schema:
            type: object
            properties:
              processed_ids:
                type: array
                items:
                  type: integer
                  format: int64
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /payment_options/list:
    get:
      summary: List of company payment methods
      description: |
        List of company payment methods
      parameters: []
      tags:
        - PaymentOption
      responses:
        '200':
          description: List of payment methods
          schema:
            type: object
            properties:
              payment_options:
                type: array
                items:
                  $ref: '#/definitions/PaymentOption'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /products/list:
    get:
      summary: List of products
      description: |
        A list of the company's products in a certain group.
      tags:
        - Products
      parameters:
        - name: limit
          in: query
          description: Limiting the number of products in the response
          type: integer
        - name: last_id
          in: query
          description: Restrict the selection of products with identifiers not higher than the specified one
          type: integer
        - name: group_id
          in: query
          description: Group identifier. By default - the identifier of the company's root group.
          type: integer
      responses:
        '200':
          description: Products list
          schema:
            type: object
            properties:
              group_id:
                type: integer
                description: The identifier of the mapped group
              products:
                type: array
                items:
                  $ref: '#/definitions/Product'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /products/{id}:
    get:
      summary: Information about the product
      description: |
        Information about the product by ID
      tags:
        - Products
      parameters:
        - name: id
          in: path
          description: Unique product ID
          required: true
          type: integer
      responses:
        '200':
          description: Information about the product
          schema:
            properties:
              product:
                $ref: '#/definitions/Product'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /products/by_external_id/{id}:
    get:
      summary: Product info
      description: |
        Information about the product with the specified identifier in your accounting system (external_id). We recommend using URL-encoding when specifying an identifier. 
      parameters:
        - name: id
          in: path
          description: Specified identifier in your accounting system (external_id)
          required: true
          type: string
      tags:
        - Products
      responses:
        '200':
          description: Product info
          schema:
            type: object
            properties:
              product:
                $ref: '#/definitions/Product'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /products/translation:
    put:
      summary: Product translation
      description: |
        Translation of the name, description and keywords of the product
      parameters:
        - name: body
          in: body
          description: Request parameters
          required: true
          schema:
            $ref: '#/definitions/ProductTranslation'
      tags:
        - Products
      responses:
        '200':
          description: Status of submitted changes
          schema:
            type: object
            properties:
              status:
                type: string
                enum:
                  - success
                  - error
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /products/edit_by_external_id:
    post:
      summary: Product editing (external_id)
      description: |
        Editing the list of products (by external_id)
      parameters:
        - name: body
          in: body
          description: Request parameters
          required: true
          schema:
            $ref: '#/definitions/ProductEditByExternalId'
      tags:
        - Products
      responses:
        '200':
          description: List of identifiers of processed messages and errors
          schema:
            type: object
            properties:
              processed_ids:
                type: array
                items:
                  type: integer
                  format: int64
              errors:
                type: object
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ProductEditError'
  /products/edit(region):
    post:
      summary: Product editing
      parameters:
        - name: body
          in: body
          description: Editing region of a product
          required: true
          # schema:
          #   $ref: '#/definitions/ProductEdit'
          schema:
           type: array
           items: 
            type: object
            properties:
              Product_Id: 
                description: Product_ID to change the  region
                type: integer
                format: int64
              ru: 
                description: New product region
                type: string
                maxLength: 50
      tags:
        - Products
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              processed_id:
                type: array
                items:
                  type: integer
                  format: int64
              errors:
                type: object
        '404':
          description: Invalid ID supplied
          schema:
            type: object
            properties:
              errors:
                type: object
        # default:
        #   description: unexpected error
        #   schema:
        #     $ref: '#/definitions/ProductEditError'
  /products/list/delete:
    delete:
      summary: Company product list
      description: |
        Deleting company product list.
      tags:
        - Products
      parameters:
        - name: limit
          in: query
          description: Limiting the number of items in the response.
          type: integer
        - name: last_id
          in: query
          description: Limit the selection of products with id not higher.
          type: integer
        - name: group_id
          in: query
          description: Group id. Default - company root group Id.
          type: integer
      responses:
        '204':
          description: No Content
          schema: 
              type: object
              properties:
                processed_id:
                  type: object
                  items: 
                    type: integer
                    format: int64
                status:
                  type: string
                errors:
                  type: object
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /products/import_url:
    post:
      summary: Products import
      description: Import of products using a link to xls,csv,xlsx,xml,cml file
      parameters:
        - name: body
          in: body
          description: Request parameters
          required: true
          schema:
            $ref: '#/definitions/ImportProductURL'
      tags:
        - Products
      responses:
        '200':
          description: Process id that allows you to see the import status at different stages
          schema:
            type: object
            properties:
              id:
                type: string
              status:
                description: Import status at the stage of validation of input parameters
                type: string
                enum:
                  - success
                  - error
        default:
          description: Validation error
          schema:
            type: object
            properties:
              status:
                type: string
              message:
                type: string
  /products/import_file:
    post:
      summary: Product import
      description: Product import by xls,csv,xlsx,xml,cml files.
      consumes:
        - ''
      parameters:
        - name: body
          in: body
          description: Request parameters
          required: true
          schema:
            $ref: '#/definitions/ImportProductWithFile'
      tags:
        - Products
      responses:
        '200':
          description: Process identificator, which permits to check the import status on the different stages
          schema:
            type: object
            properties:
              id:
                type: string
              status:
                description: Import status on the stage of valid initial parameters
                type: string
                enum:
                  - success
                  - error
        default:
          description: Validation error
          schema:
            type: object
            properties:
              status:
                type: string
              message:
                type: string
  /products/import/status/{id}:
    get:
      summary: Import status
      description: Check of the products import status
      parameters:
        - name: id
          in: path
          description: ID import process
          required: true
          type: integer
          format: int64
      tags:
        - Products
      responses:
        '200':
          description: Import process information
          schema:
            $ref: '#/definitions/ImportProductStatus'
        default:
          description: Validation error
          schema:
            type: object
            properties:
              status:
                type: string
              message:
                type: string
  /products/edit_name:
    put:
      summary: Edit product name
      # produces: application/json
      parameters: 
        - name: Body
          in: body
          description: Product data to edit name
          required: true
          schema:
           type: array
           items: 
            type: object
            properties:
              Product_Id: 
                description: Product_ID to change the name
                type: integer
                format: int64
              New_Name: 
                description: New product name
                type: string
                maxLength: 100
      tags:
        - Products
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties: 
              processed_id: 
                type: array
                items:
                  type: integer
                  format: int64
              errors:
                type: object
        '404':
          description: Invalid ID supplied
          schema:
            type: object
            properties:
              errors:
                type: object
  /products/delete:
    delete:
      summary: Delete a product by ID
      operationId: DeleteProductByID
      # produces: application/json
      parameters:
        - name: Product_ID
          in: query
          description: Product ID to delete
          required: true
          type: integer
          format: int64
      tags:
        - Products
      responses:
        '200':
          description: OK
          schema: 
              type: object
              properties:
                processed_id:
                  type: object
                  items: 
                    type: integer
                    format: int64
                status:
                  type: string
                errors:
                  type: object
        '404':
          description: Invalid ID supplied
          schema: 
              type: object
              properties: 
                errors: 
                  type: object
definitions:
  Notifications:
    properties:
      notificationId:
        type: integer
        description: Unique notification id.
      status:
        type: string
        description: Types of notifications. 
        example: importing, eshop, portal_moderation, exporting

  Order:
    properties:
      id:
        type: integer
        description: The unique identifier for the order
      date_created:
        type: string
        description: The date the order was created in ISO-8601 format. Example - "2015-04-28T12:50:34.588791+00:00"
      date_modified:
        type: string
        description: The date the order was updated in ISO-8601 format. Example - "2015-04-28T12:50:34.588791+00:00"
      client_first_name:
        type: string
        description: Name of the customer
      client_second_name:
        type: string
        description: Middle name of the customer
      client_last_name:
        type: string
        description: Last name of the customer
      client_id:
        type: integer
        description: The unique identifier for the customer
        example: 12345
      email:
        type: string
        description: E-mail of the customer
      phone:
        type: string
        description: Сustomer phone number
      delivery_option:
        type: object
        properties:
          id:
            type: integer
            description: Unique shipping method identifier
          name:
            type: string
            description: The name of the shipping method
          shipping_service:
            type: string
            description: Shipping service
      delivery_address:
        type: string
        description: Delivery address
      delivery_provider_data:
        type: object
        description: Delivery provider data associated with the order. If a delivery method is selected in the order that is not included in the list of supported ones (see the 'provider' field below), the object will be null
        properties:
          provider:
            type: string
            enum:
              - nova_poshta
              - justin
              - delivery_auto
              - ukrposhta
            description: Delivery provider ID
          type:
            type: string
            enum:
              - W2W
              - W2D
              - D2W
              - D2D
            description: Identifier of the type of delivery, where the letter W is a department, D is a courier. Accordingly, W2D - sending from the office, receiving by courier.
          sender_warehouse_id:
            type: string
            description: Identifier of the receiving department in the system of the delivery provider (U Ukrposhta - department index). null if the delivery is not to a branch
          recipient_warehouse_id:
            type: string
            description: Identifier of the receiving department in the system of the delivery provider (U Ukrposhta - department index). null if the delivery is not to a branch
          declaration_number:
            type: string
            description: Invoice number in the delivery provider's system
      delivery_cost:
        type: integer
        description: Cost of delivery
      payment_option:
        type: object
        properties:
          id:
            type: integer
            description: The unique identifier for the payment method
          name:
            type: string
            description: The name of the payment method
      payment_data:
        type: object
        properties:
          type:
            type: string
            description: Payment method
            enum:
              - evopay
          status:
            type: string
            description: |-
              Статус оплаты: 
              * `paid` - paid by the buyer
              * `unpaid` - not paid
              * `refunded` - refunded to the buyer
              * `paid_out` - paid to the seller
            enum:
              - paid
              - unpaid
              - refunded
              - paid_out
          status_modified:
            type: string
            description: The date the payment status was last changed, in ISO-8601 format. Example - "2015-04-28T12:50:34.588791+00:00"
      price:
        type: string
        description: Order price
      full_price:
        type: string
        description: The total cost of the order
      client_notes:
        type: string
        description: User-added comment
      products:
        # type: array
        # items:
        #   type: object
          properties:
            id:
              type: integer
              description: The unique identifier of the item
            external_id:
              type: string
              description: The unique (external system) identifier of the item
            name:
              type: string
              description: Product Name
            name_multilang:
              type: object
              properties:
                ru:
                  type: string
                uk:
                  type: string
            sku:
              type: string
              description: Product code (article)
            price:
              type: string
              description: Item price per unit
            quantity:
              type: number
              format: float
              description: The number of items in the order
            measure_unit:
              type: string
              description: Unit of measurement
            image:
              type: string
              description: Link to image
            url:
              type: string
              description: Link to the product on the company's website
            total_price:
              type: string
              description: Order price
            cpa_commission:
              properties:
                amount:
                  type: string
      status:
        type: string
        description: Order status
        enum:
          - pending
          - received
          - delivered
          - canceled
          - draft
          - paid
      status_name:
        type: string
        description: Order status
        enum:
          - новый
          - принят
          - исполнен
          - отменен
          - оплачен
      source:
        type: string
        description: Order source
        enum:
          - portal
          - company_site
          - company_cabinet
          - mobile_app
          - bigl
  SetOrderStatus:
    properties:
      status:
        description: Order status
        type: string
        enum:
          - pending
          - received
          - delivered
          - canceled
          - draft
          - paid
      ids:
        description: List of unique identifiers
        type: array
        items:
          type: integer
          format: int64
      cancellation_reason:
        description: Reason for canceling the order (Only for "canceled" status)
        type: string
        enum:
          - not_available
          - price_changed
          - buyers_request
          - not_enough_fields
          - duplicate
          - invalid_phone_number
          - less_than_minimal_price
          - another
      cancellation_text:
        description: Message for the reason for canceling the order (Only for "canceled" status). Mandatory if "cancellation_reason" is "price_changed", "not_enough_fields", or "another"
        type: string
  Message:
    properties:
      id:
        type: integer
        description: The unique ID of the message
      date_created:
        type: string
        description: The date the message was created in ISO-8601 format. Example - "2015-04-28T12:50:34.588791+00:00"
      subject:
        type: string
        description: Message subject
      message:
        type: string
        description: Message text
      client_full_name:
        type: string
        description: Name of the client
      status:
        type: string
        description: Message status
        enum:
          - unread
          - read
          - deleted
      phone:
        type: string
        description: Client phone
      product_id:
        type: integer
        description: The unique identifier of the item
  Client:
    properties:
      id:
        type: integer
        description: Unique identifier of a client
      client_full_name:
        type: string
        description: Full name of a client
      phones:
        description: The list of client's phone numbers
        type: array
        items:
          type: string
      emails:
        description: The list of client's emails
        type: array
        items:
          type: string
      comment:
        type: string
        description: Note about the client
      skype:
        type: string
        description: Client's Skype
      orders_count:
        type: integer
      total_payout:
        type: string
        description: Sum of all client's orders
  Product:
    type: object
    properties:
      id:
        type: integer
        format: int64
        description: Product unique identificator
        example: 660913934
      external_id:
        type: string
        description: Unique identificator (external system) of product
        example: null
      name:
        type: string
        description: Product name
        example: Вечернее платье
      sku:
        type: string
        description: Product item
        example: AA7775
      keywords:
        type: string
        description: Key words of the product
        example: Платье, коктейльное платье
      description:
        description: Description of the product
        type: string
        example: Коктейльное платье или платье-коктейль — укороченное женское платье для торжественных случаев без воротника и рукавов.
      selling_type:
        description: Product type
        type: string
        enum:
          - retail
          - wholesale
          - universal
          - service
        example: universal
      presence:
        type: string
        description: Product presence
        enum:
          - available
          - not_available
          - order
          - service
          - waiting
        example: available
      presence_sure:
        type: boolean
        enum:
          - false
          - true
        description: Status «Presence sure»
      price:
        type: number
        format: float
        description: Product price
        example: 150
      minimum_order_quantity:
        type: number
        format: float
        description: Minimum order quantity
        example: null
      discount:
        description: Discount
        type: object
        properties:
          value:
            type: number
            description: Set discount value
            example: 15
          type:
            type: string
            description: Discount type (fixed/percent)
            enum:
              - amount
              - percent
            example: percent
          date_start:
            type: string
            description: Date of discount start
            example: 22.03.2018
          date_end:
            type: string
            description: Date of discount end
            example: 22.04.2018
      currency:
        type: string
        description: Product currency
        example: USD
      group:
        type: object
        properties:
          id:
            type: integer
            description: Product group identificator
            example: 2366571
          name:
            type: string
            description: Product group name
            example: Корневая группа
      category:
        type: object
        properties:
          id:
            type: integer
            description: Category identificator
            example: 35402
          caption:
            type: string
            description: Category name
            example: платья женские
      prices:
        description: Wholesale prices
        type: array
        items:
          type: object
          properties:
            price:
              type: number
              format: float
              description: Product price in case of bujing more than stated quantity
              example: 100.75
            minimum_order_quantity:
              type: number
              format: float
              description: Minimum order quantity for stated price
              example: 10
      main_image:
        type: string
        description: Link for the main product's image
        example: https://my.example.com/media/images/1075345153_w200_h200_dress.jpg
      images:
        type: array
        description: Additional product's images
        items:
          type: object
          properties:
            url:
              type: string
              example: https://my.example.com/media/images/1075345152_w200_h200_dress_front.png
            thumbnail_url:
              type: string
              example: https://my.example.com/media/images/1075345152_w100_h100_dress_front.png
            id:
              type: integer
              example: 1075345152
      status:
        type: string
        description: Product status
        enum:
          - on_display
          - draft
          - deleted
          - not_on_display
          - editing_required
          - approval_pending
          - deleted_by_moderator
        example: on_display
  Group:
    properties:
      id:
        type: integer
        description: Unique group ID
      name:
        type: string
        description: Group name
      description:
        type: string
        description: Group description
      image:
        type: string
        description: Link to group image
      parent_group_id:
        type: integer
        description: Parent group ID
  PaymentOption:
    properties:
      id:
        type: integer
        description: The unique identifier for the payment method
      name:
        type: string
        description: Payment method name
      description:
        type: string
        description: Description of the payment method
  ProductTranslation:
    properties:
        product_id:
          description: Unique product identifier
          type: integer
          format: int64
        lang:
          description: Translation language ("uk")
          type: string
        name:
          description: Translated product name
          type: string
        keywords:
          description: Translated product keewords
          type: string
        description:
          description: Translated product description
          type: string
  ProductEditByExternalId:
    type: array
    items:
      type: object
      required:
        - id
      properties:
        id:
          description: The unique identifier of the product in your inventory system (external_id)
          type: string
        presence:
          description: Product availability
          type: string
          enum:
            - available
            - not_available
            - order
            - waiting
        presence_sure:
          description: Availability Guarantee status
          type: boolean
        price:
          description: Product price
          type: number
          format: float
          minimum: 0.00001
        status:
          description: Message status
          type: string
          enum:
            - on_display
            - draft
            - deleted
            - not_on_display
        prices:
          description: Wholesale price grid
          type: array
          items:
            type: object
            properties:
              price:
                type: number
                format: float
              minimum_order_quantity:
                type: number
                format: float
        discount:
          description: Discount
          type: object
          properties:
            value:
              type: number
              description: Set discount value
            type:
              type: string
              description: Discount type (absolute value/percentage)
              enum:
                - amount
                - percent
            date_start:
              type: string
              description: Start date of the discount period in the format DD.MM.YYYY
            date_end:
              type: string
              description: End date of the discount period in the format DD.MM.YYYY
        name:
          description: Product name
          type: string
          maxLength: 150
        keywords:
          description: Keywords string (separated by comma space ', ')
          type: string
          maxLength: 1024
        description:
          description: Product description (may contain html tags)
          type: string
          maxLength: 50000
        quantity_in_stock:
          description: Product left in stock (Disabled for varieties that inherit stock)
          type: integer
          format: int64
  MessageReply:
    properties:
      id:
        description: Message identifier
        type: integer
        format: int64
      message:
        description: Message text
        type: string
        maxLength: 1000
  SetMessageStatus:
    properties:
      status:
        description: Message status
        type: string
        enum:
          - unread
          - read
          - deleted
      ids:
        description: List of unique identifiers
        type: array
        items:
          type: integer
          format: int64
  PaymentRefund:
    properties:
      ids:
        description: The list of unique identifiers
        type: array
        items:
          type: integer
          format: int64
  ImportProductURL:
    required:
      - url
    properties:
      url:
        description: The link to the xls,csv,xlsx,xml,cml file
        type: string
        maxLength: 1024
      force_update:
        description: Force update
        type: boolean
      only_available:
        description: Import only goods in the status "In stock" and "On order"
        type: boolean
        default: false
      mark_missing_product_as:
        description: Flag missing products with next status
        type: string
        enum:
          - none
          - not_available
          - not_on_display
          - deleted
        default: none
      updated_fields:
        type: array
        items:
          description: List of fields to be updated
          type: string
          enum:
            - name
            - sku
            - price
            - images_urls
            - presence
            - quantity_in_stock
            - description
            - group
            - keywords
            - attributes
            - discount
            - labels
            - gtin
            - mpn
          default:
            - price
            - presence
  ImportProductWithFile:
    properties:
      file:
        description: xls,csv,xlsx,xml,cml document
        type: string
        format: binary
      data:
        description: Import settings (JSON format)
        type: object
        properties:
          force_update:
            description: Force update
            type: boolean
            default: false
          only_available:
            description: Import of products only in the statuses «Available» and «Pre order»
            type: boolean
            default: false
          mark_missing_product_as:
            description: Mark missing products with the following status
            type: string
            enum:
              - none
              - not_available
              - not_on_display
              - deleted
            default: none
          updated_fields:
            type: array
            items:
              description: List of fields, which must be updated
              type: string
              enum:
                - name
                - sku
                - price
                - images_urls
                - presence
                - quantity_in_stock
                - description
                - group
                - keywords
                - attributes
                - discount
                - labels
                - gtin
                - mpn
              default:
                - price
                - presence
  DeliverySaveCreatedDeclarationIdParameters:
    properties:
      order_id:
        description: Order number
        type: integer
        format: int64
        example: 103920887
      declaration_id:
        description: Shipping provider's declaration number
        type: string
        example: '20450268096789'
      delivery_type:
        description: Delivery type
        type: string
        enum:
          - nova_poshta
        example: nova_poshta
  ImportProductStatus:
    properties:
      status:
        description: Import status
        type: string
        enum:
          - SUCCESS
          - PARTIAL
          - FATAL
      not_changed:
        description: Number of positions left unchanged
        type: integer
      updated:
        description: Number of updated positions
        type: integer
      not_in_fle:
        description: Number of items that are not in the import file
        type: integer
      imported:
        description: Number of imported positions
        type: integer
      created:
        description: Number of created positions
        type: integer
      actualized:
        description: Number of updated positions
        type: integer
      created_active:
        description: Active positions created
        type: integer
      created_hidden:
        description: Created Hidden Positions
        type: integer
      total:
        description: Total positions loaded
        type: integer
      with_errors_count:
        description: Total positions with errors
        type: integer
      errors:
        description: List of errors
        type: array
        items:
          type: object
          properties:
            download:
              description: Errors during file upload
              type: object
            store_file:
              description: Errors at the stage of saving the file
              type: object
            validation:
              description: Errors at the stage of file position validation
              type: object
            import:
              description: Errors at the stage of importing positions
              type: object
            download_images:
              description: Errors at the stage of loading images
              type: object
  Error:
    properties:
      error:
        description: An error occurred while executing the request.
        type: string
  ProductEditError:
    properties:
      errors:
        description: Errors indicating the id of the product for which the request failed
        type: object
      processed_ids:
        type: array
        items:
          type: integer
          format: int64
  GroupTranslation:
    # required: 
    #   name: true
    #   photoUrls: true
    properties:
      name:
        type: string
        example: string
      photoUrls:
        type: string
        example: string
  GroupTranslationError:
    properties:
      error:
        type: string
        example: Unexpected error message
securityDefinitions:
  Bearer:
    type: apiKey
    description: Get JWT token from Auth API and paste it
    name: Authorization
    in: header
